<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["title"]</title>
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/all.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
          rel="stylesheet" />
    <link href="d:\courses\net\c#\mvc\mvc solution\demo.pl\wwwroot\css\authstylesheet.css" rel="stylesheet" />
</head>
<body>
    <nav class="navbar navbar-expand-lg sticky-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="home.html">
                <img src="photos/logo1.png" alt="" />
            </a>
            <button class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                <i class="fa-solid fa-bars-staggered"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav m-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link p-2 p-lg-3"
                           aria-current="page"
                           href="home.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link p-2 p-lg-3" href="about us .html">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link p-2 p-lg-3" href="services.html">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link p-2 p-lg-3" href="shop.html">Shop</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link p-2 p-lg-3" href="appointment.html">Appointment</a>
                    </li>
                    <li class="nav-item dropdown p-2 p-lg-2">
                        <a class="nav-link dropdown-toggle"
                           href="#"
                           id="navbarDropdown"
                           role="button"
                           data-bs-toggle="dropdown"
                           aria-expanded="false">
                            pages
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li>
                                <a class="dropdown-item" href="our doctors.html">Our Doctors</a>
                            </li>
                            <li><hr class="dropdown-divider" /></li>
                            <li><a class="dropdown-item" href="faq.html">FAQ</a></li>
                            <li><hr class="dropdown-divider" /></li>
                            <li>
                                <a class="dropdown-item" href="reviews.html">Reviews</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <button class="btn main-btn"
                        id="show-login"
                        data-bs-toggle="modal"
                        data-bs-target="#loginPopup">
                    Login
                </button>
                <button class="btn main-btn"
                        data-bs-toggle="modal"
                        data-bs-target="#registrationPopup">
                    Sign Up
                </button>
            </div>
        </div>
    </nav>

    <div class="modal fade"
         id="loginPopup"
         tabindex="-1"
         aria-labelledby="loginPopupLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="loginPopupLabel">Login</h3>
                    <button type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
               
            </div>
        </div>
    </div>

    <div class="modal fade"
         id="registrationPopup"
         tabindex="-1"
         aria-labelledby="registrationPopupLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="registrationPopupLabel">Sign Up</h3>
                    <button type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                @RenderBody()
                </div>
            </div>
        </div>

    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col">
                    <img src="[Image URL]" alt="Company Logo" class="img-fluid mb-3">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas nulla sapien, aliquam euismod magna vel, egestas faucibus quam.</p>
                    <div class="d-flex justify-content-between">
                        <a href="#"><i class="bi bi-facebook"></i></a>
                        <a href="#"><i class="bi bi-twitter"></i></a>
                        <a href="#"><i class="bi bi-linkedin"></i></a>
                        <a href="#"><i class="bi bi-instagram"></i></a>
                    </div>
                </div>
                <div class="col">
                    <h4>Menu</h4>
                    <ul>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Services</a></li>
                        <li><a href="#">Products</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">Blog</a></li>
                    </ul>
                </div>
                <div class="col">
                    <h4>Support</h4>
                    <ul>
                        <li><a href="#">Help Center</a></li>
                        <li><a href="#">FAQs</a></li>
                        <li><a href="#">Terms of Service</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                    </ul>
                </div>
                <div class="col">
                    <h4>Contact Us</h4>
                    <p>123 Main Street<br>Anytown, CA 12345<br>555-555-5555<br>info@company.com</p>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="js/home.js"></script>
    @*@await RenderSectionAsync("ValidationScriptsPartial" ,required : true)*@
</body>
</html>

